html, body {
    margin: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#liveArea {
    flex: 1 0 auto;
    height: 100%;
}

#imgArea {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    min-width: 35.8%;
    align-content: flex-start;
}

.person {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: auto;
    height: auto;
}

.cut {
    object-fit: contain;
}

#title {
    display: flex;
    justify-content: center;
    background-color: #090077;
    padding: 0;
    margin: 0;
    flex: 0 1 auto;
}

#title p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 45px;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.column1 {
    display: flex;
    width: 64.2%;
}

.column2 {
    display: flex;
    flex-flow: row wrap;
    max-height: 100%;
    width: 35.8%;
    align-content: flex-start;
}
